{%load static %} {% load imagekit %}
{%include 'base.html'%}
<title>{% block title %}Profile for {{user.username}}{% endblock title %}</title>
{%block 'main'%}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
<div class="p-main-container">
  <div class="p-header-wrapped">
    
  <div class="p-header-container">
    <div class="p-picture-container"> 
      <img src="{{curr_user.user_picture.url}}" alt="" height="120x">
    </div>
    <div class="p-banner-container">
      <img src="{{curr_user.user_banner.url}}" alt="" width="1285px" height="206px">
    </div>
    <div class="p-username-container">
      
    <h4>@{{req_user.username}}</h4>
    </div>
    <div class="p-desc-container">
      {{curr_user.user_desc}}
    </div>
    <div class="p-joined-container">      
    <p>Joined {{req_user.date_joined.date}} </p>
    </div>
    {% if user == req_user %}
    <div class="p-buttons">
      
    <a href="{%url 'upload_vid'%}"class="btn btn-primary">Upload a video </a>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#p-edit-modal">Edit profile</button>
    </div>
    {%else %} 
    <div class="p-buttons">
    <button class="btn btn-primary">Follow</button>
    </div>
    {% endif %}
  </div>
  </div>
<div class="modal fade" id="p-edit-modal" tabindex="-1" aria-labelledby="p-edit-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update your profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="p-edit-container">
          <div class="p-set-desc-container">
            
          <p>Edit your account</p>
          <form method="post" action="#" name="editprofile" enctype="multipart/form-data"> 
            {% csrf_token %}
            {{user_desc_f.user_desc}}
          </div>
          <div class="p-upload-banner-container">
            {{user_desc_f.user_banner}}
          </div>
          <div class="p-upload-profile_image">
          </div>
          <button class="btn btn-primary" type="submit">Update</button> 
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
  {% if videos %}
  {% for v in videos %}
  <div class="p-videos-container">
    <div class="p-video-container">
      
    </div>
  </div>
  {% endfor %}
  {%else%}
  <div class="p-no-videos-container">
    
    <p>This user haven't uploaded anything yet</p>
  </div>
  {% endif %}

</div>
{%endblock 'main'%}
