<title>{% block title %}{{req_user.username}}{% endblock title %}</title>
{%load static %}
{% load widget_tweaks %}
{% load hitcount_tags %}
{%include 'base.html'%}
{%block 'main'%}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
<div class="container profile-header text-center">
  <div class="p-banner-container">
   <img src="{{curr_user.user_banner.url}}" class="img-fluid" width="1500px" height="150px" alt="Profile Banner">
  </div>
  <div class="p-fields-container">
    <div class="row">
      <div class="col-12">
        <div class="p-picture-container">
          <img src="{{curr_user.user_picture.url}}" width="150px" alt="Profile Picture" class="profile-picture">
        </div>
        <div class="p-info-container">
          <div class="p-username-container">
            <h2 class="mt-3">@{{req_user.username}}</h2>
          </div>
          <div class="p-desc-container">

            <p class="text-muted">{{curr_user.user_desc}}</p>
          </div>
          <div class="p-joined-container">
            <p class="mt-3">Joined {{req_user.date_joined.date}}</p>
          </div>
          {% if user.username == req_user.username %}

          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#peditmodal">Edit profile</button>
          <a href={%url 'upload' %} class="btn btn-primary">Upload</a>
          {%else%}
          <button class="btn btn-primary">Follow</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-edit-modal">
  <div class="modal fade" id="peditmodal" tabindex="-1" aria-labelledby="profileeditmodallabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="peditmodallabel">Edit your profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action=# method="post" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="p-edit-desc-container">
              
            <label for="user_desc">Update your description</label>
            <div class="p-desc-input">
              
            {{user_f.user_desc}}
            </div>
            </div>
            <div class="p-edit-pfp-container">
              
                
            <label for="user_picture">Edit your profile picture</label>
            <div class="p-pfp-input">
              {{user_f.user_picture}}
              </div>
            </div>
            <div class="p-edit-banner-container">
              


            <label for="user_banner">Change your profile banner</label>
            <div class="p-banner-edit">
            {{user_f.user_banner}}
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container p-content-container">
   <div class="col-md-9">
     {% if not videos %}
     <div class="p-no-videos-container"> 
     <p>This account haven't posted any videos yet</p>
     </div>
     {% endif %}
     {% if videos %} 

       <div class="p-content-overview-container">
         <h3>Your videos</h3>
       </div>
     <div class="p-content-container">
       {% for v in videos  %}
       <div class="p-video-container">
         <div class="col-md-4 mb-4">
           <div class="video-thumbnail position-relative">
            <a href="{%url 'video' video_id=v.id%}">
                <img src="{{v.video_thumb.url}}" alt="Video Thumbnail">
                 </div>
                 <div class="p-video-thumbnail">
                </a>
               </div>
               <div class="p-video-title-container">
                <h5 class="mt-2">{{v.video_title}}</h5>
               </div>
               <div class="p-video-view-container">
                 <p>{{v.hit_count.hits}} views</p>
               </div>
                  <div class="p-video-date-container">
                 <p>{{v.video_date}}</p>
                  </div>
                    </div>
                  </div> 
                    {% endfor %}
       {% endif %}
       </div>
     
{%endblock 'main'%}

