{%extends 'base.html'%}
{% load static %}
<title>{% block 'title' %}Signup{% endblock 'title' %}</title>
{%block 'main'%}
<link rel="stylesheet" href="{%static 'css/signup.css'%}">
<div class="s-container">
<div class="s-block-container">
<div class="s-box-container">
   
<div class='s-form-block'>
  <form method="POST" name="signup" action="#">
    {%csrf_token%}
    <div class="s-form-overview">
      
      <h4>Signup for a new account</h4>
    </div>


<div class="row g-3">
  <div class="col">
    {{signup_f.first_name}}
  </div>
  <div class="col">
    {{signup_f.last_name}}
  </div>
</div>


<div class="mb-3">
  {{signup_f.email}}
</div>
<div class="mb-3">
  {{signup_f.username}}
</div>

<div class="mb-3">
  {{signup_f.password1}}
</div>
<div class="mb-3">
  {{signup_f.password2}}
</div>
{% if signup_f.username.errors or signup_f.password1.errors or signup_f.password2.errors%}
<div class="s-error-block">
  
  <div class="text-danger">
    {{signup_f.username.errors}}
    {{signup_f.password1.errors}}
    {{signup_f.password2.errors}}
  </div>
</div>
  {%endif%}
  <button type="submit" class="btn btn-primary">Signup</button>
  <div class="s-form-redirect">
    <a href="{%url 'login'%}">Already signed up?</a> 
  </form>

</div>
</div> 
</div>
</div>  
</div>
{%endblock 'main'%}
