body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.p-buttons {
  margin: 10px;
}

.profile-header {
  background-color: #f8f9fa;
  padding: 40px 0;
}

.profile-picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
