body {
  margin: 0;
  padding: 0;
  height: 100vh;
}


.p-main-container {
  justify-self: center;
  align-items: center;
  display: flex;

}

.p-banner-container {
  justify-self: center;
  display: flex;
}

.p-header-wrapped {
  display: flex;
}

.p-picture-container {
  position: relative;
  top: 35%;
  left: 10%;
}
