body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.p-buttons {
  margin-top: 10px;
}

.p-buttons button {
  margin-right: 2px;
}

.p-banner-container img {
  display: flex;
  max-height: 250px;
}

.profile-header {
  padding: 40px 0;
}


.profile-picture {
  margin-bottom: 15px;
  margin-left: 15px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.p-fields-container {
  transform: translateY(-60%);
  display: flex;
}

.p-info-container {
  transform: translateY(35%);
  text-align: left;
  margin-left: 10px;
}


.p-content-overview-container {
  margin-bottom: 15px;
  display: flex;
  position: relative;
  transform: translateY(-180%);
}

.p-videos-container {
  display: flex;
  position: relative;
  padding: 25px;
}

.p-video-container {
  display: block;
  position: relative;
  width: 400px;
  height: 200px;
  margin-right: 20px;
  background-color: black;
}

.p-video-container img {
  height: 200px;
  width: 400px;
}

.p-content-container {
  display: flex;
  transform: translateY(-30%);
  position: relative;

}

.p-no-videos-container {
  display: flex;
  position: absolute;
  text-align: flex-start;
  transform: translateY(-420%);
}
