body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.s-container {
  max-width: 550px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-self: center;
  margin-top: 25px;
}


.s-form-block {
  display: flex;
  position: relative;
  max-width: 350px;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.s-form-block input {
  margin: 10px;
  display: block;
  border-radius: 8px;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  appearance: none;
  border-color: rgb(233, 233, 233);
  border: 1px solid #ccc;
  border-color: white;
  transition: border-color 0.3s ease;
  background-color: gray;

}

.s-form-redirect {
  margin-top: 15px;
}

.s-form-overview {
  margin-left: 15px;
  margin-bottom: 15px;
}
