{%include 'base.html'%}
{%block 'main'%}
<div class="p-main-container">
  <div class="p-header-txt">
    
  <h4>{{req_user.username}}</h4>
  </div>
  <div class="p-tab-container">
    <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Videos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul>
  </div>
</div>
{%endblock 'main'%}
