body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.h-content-container {
  display: flex;
  transform: translateY(20%);

}

.h-overview-container {
  justify-items: center;
}

.h-video-thumbnail {
  justify-content: center;
  align-items: center;
}

.h-video-thumbnail img {
  width: 400px;
  height: 200px;

}

.h-videos-container {
  display: flex;
  position: relative;
  padding: 25px;
  left: 10%;
}

.h-video-container {
  display: block;
  position: relative;

  width: 400px;
  height: 200px;
  margin-right: 20px;
  background-color: black;
}

.h-content-header-container {
  display: flex;
  position: relative;
  max-height: 150px;
  transform: translateY(-45%);
}
