body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.h-main {
  justify-self: center;
}

.h-overview-container {
}
.h-content-container {
  display: flex;
  transform: translateY(40%);
}
.h-video-thumbnail  img {
  max-width: 400px;
  max-height: 200px;
}

.h-videos-container {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 25px;
}
.h-video-container {
  display: flex;
  position: relative;
  margin-right: 10px;
}
.h-content-header-container {
  display: flex;
  position: relative;
  max-height: 150px;
  transform: translateY(-45%);
}
