body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.u-main-container {
  display: flex;
}

.u-main-form {
  margin: 10px;
  max-width: 600px;
}

.u-main-form input {
  margin: 10px;
  display: block;
  justify-self: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.u-form-overview {
  margin-top: 15px;
}
