body
{
  margin: 0;
  padding: 0;
  height: 100vh;
}
.p-main-container
{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 30px;
  max-width: 700px;
  max-height: 500px;
}
.p-tab-container
{
  display: flex;
  padding: 20px;
  position: relative;
  top: 50px;
  right: 90px;
}
.p-header-txt
{
  text-align: center;
}
