{%include 'base.html'%}
{% load static %}
{%block 'main'%}

<link rel="stylesheet" href="{%static 'css/home.css'%}">
<div class="h-main">
  <div class="h-overview-container">
   <h1>Welcome to VideoWorld!</h1> 
  </div>
  <div class="h-user-info">
    
 {% if user.is_authenticated %}
 <p>You're currently logged in as <a href="{%url 'user' username=username%}">{{user.username}}</a></p> 
 {%else%}
  <p>To get started <a href="{%url 'login'%}">Login</a></p>

   {% endif %}  
  </div>
   <div class="h-videos-container">
     {% if videos %}
     <div class="h-videos-text-overview">
     <h2>Latest videos</h2> 
     </div>
     {% for v in videos  %}
     <div class="h-video-link">
       <a href="{%url 'video' video_id=v.id %}">{{v.video_title}}</a>
     </div>
     {% endfor %}
     {%else%}
     <p>No videos have been uploaded yet</p>
     {% endif %}
     
   </div>
</div>

{%endblock 'main'%}
