{%include 'base.html'%}
{% load static %}
{%block 'main'%}

<link rel="stylesheet" href="{%static 'css/home.css'%}">
<div class="h-main">
  <div class="h-overview-container">
   <h1>Welcome to VideoWorld!</h1> 
  </div>
    
 {% if user.is_authenticated %}
 <p>You're currently logged in as <a href="{%url 'user' username=username%}">{{user.username}}</a></p> 
 {%else%}
 <p>To get started <a href="{%url 'login'%}">Login</a> Or <a href="{%url 'signup'%}">Signup</a></p>
 {% endif %}  
 <div class="container"> 
   <div class="h-content-container">
     {% if videos %}
     <div class="h-content-header-container">
       <h3 class="col-md-2">Latest videos</h3>
     </div>
     <div class="h-videos-container"> 
     {% for v in videos %}
     <div class="h-video-container">
      <div class="col-md-4 mb-4">
           <div class="video-thumbnail position-relative">
             <a href="{%url 'video' video_id=v.id%}">
              <div class="h-video-thumbnail">
                <img src="{{v.video_thumb.url}}" alt="Video Thumbnail">
                 </div>
                </a>
               </div>
               <h5 class="mt-2">{{v.video_title}}</h5>
               <p>{{v.video_view}} views</p>
               <p>{{v.video_date}}</p>
            </div>
     </div>
     {% endfor %}
     </div>
     {% endif %}
   </div>
 </div>


{%endblock 'main'%}
