{%include 'base.html'%}
{% load static %}
{% load hitcount_tags %}
{%block 'main'%}

<link rel="stylesheet" href="{%static 'css/home.css'%}">
  
<div class="h-main">
  <div class="h-overview-container">
    <div class="h-welcome-container">
      
   <h1>Welcome to VideoWorld!</h1> 
    </div>
 {% if user.is_authenticated %}
 <div class="h-account-refer-container">
   
 <p>You're currently logged in as <a href="{%url 'user' username=username%}">{{user.username}}</a></p> 
 </div>
 {%else%}
  </div>
 {% endif %}  
   <div class="h-content-container">
     {% if videos %}
     <div class="h-content-overview">
       
     <h2>Latest videos</h2>
     </div>
     <div class="h-videos-container"> 
     {% for v in videos %}
     <div class="h-video-container">
      <div class="col-md-4 mb-4">
           <div class="video-thumbnail position-relative">
             <a href="{%url 'video' video_id=v.id%}">
              <div class="h-video-thumbnail">
                <img src="{{v.video_thumb.url}}" alt="Video Thumbnail">
                 </div>
                </a>
               </div>
               <div class="h-video-title">
               <h5 class="mt-2">{{v.video_title}}</h5>
               </div>
               <p>{{v.hit_count.hits}} views</p>
               <a href="{%url 'user' username=v.video_uploader%}">
               <p>{{v.video_uploader}}</p>
               </a>
               <div class="h-video-date-container">
                 
               <p>{{v.video_date}}</p>
               </div>
            </div>
     </div>
     {% endfor %}
     </div>
     {%else%}
     <div class="h-no-videos-container">
       
     <p>No videos have been uploaded yet</p>
     </div>
     {% endif %}
   </div>


{%endblock 'main'%}
