<title>{% block title %}{{video.video_title}}{% endblock title %}</title>
{%include 'base.html'%}
{% load static %}
{%block 'main'%}
<link rel="stylesheet" href="{% static 'css/video.css'%}">
<div class="v-main-container">
  <div class="v-content">
    <div class="v-video-container">
      
    <video width="1180px" height="620px" controls  src="{{video.video_src.url}}">      
    </div>
    </video>
<div class="row mt-3">
        <div class="col-12">
          <h2 class="fw-bold">{{video.video_title}}</h2>
            <p class="text-muted">Published on {{video.video_date}}</p>
            <p class="text-muted">{{video.video_view}} views</p>
            <p >Published by <a href="{% url 'user' username=video.video_uploader%}">{{video.video_uploader}}</a></p>

            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    {% if video.video_desc %}
                    <p class="card-text">{{video.video_desc}}</p>
                    {%else%}
                    <p class="text-muted">This video dosen't contain a description</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{%endblock 'main'%}
