<title>{% block title %}{{video.video_title}}{% endblock title %}</title>
{%include 'base.html'%}
{% load static %}
{% load hitcount_tags %}
{%block 'main'%}
<link rel="stylesheet" href="{% static 'css/video.css'%}">
<script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
<script src="{% static 'videoplayer.js'%}"></script>

<div class="v-recommended-container">
  <div class="v-recommended-top-content">
    
  <h2>Other Videos</h2>
  </div>
  <div class="v-recommended-wrapped">
    
  {% for recommended_video in  recommended_videos %}

<div class="v-recommended-card">
  <a class="v-recommended-link" href="{%url 'video' video_id=recommended_video.id%}">




<div class="card mb-3" >
      <img src="{{recommended_video.video_thumb.url}}" class="v-recommended-thumb" alt="...">
    </div>
      <div class="card-body">
        <h5 class="card-title">{{recommended_video.video_title}}</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-body-secondary">Uploaded {{recommended_video.video_date}}</small></p>
      </div>

</div>


</a>  
   {% endfor %} 
  </div>
 </div>
<div class="v-main-container">
  <div class="v-content">
    <div class="v-video-container"> 
    <video width="1180px" height="620px" class="v-source" controls src="{{video.video_src.url}}">      
    Your browser does not support the video tag.
    </div>
    </video>
  <div class="v-status-container">
<div class="row mt-3">
        <div class="col-12">
          <div class="v-title-container">
            
          <h2 class="fw-bold">{{video.video_title}}</h2>
          </div>
            <p class="text-muted">Published on {{video.video_date}}</p>
            <p class="text-muted">{{video_view.hits}} views</p>
            
            <p >Published by <a href="{% url 'user' username=video.video_uploader%}">{{video.video_uploader}}</a></p>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    {% if video.video_desc %}
                    <p class="card-text">{{video.video_desc}}</p>
                    {%else%}
                    <p class="text-muted">This video dosen't contain a description</p>
                    {% endif %}
                </div>
            </div>
        </div>
<!--       <div class="v-likes-container">
          <p>{{video.video_likes}} Likes</p>
        </div> -->
    </div>
  </div>
  <div> 
  </div>
  <div class="v-comment-publish-container">
<div class="container mt-5">
  {% if user.is_authenticated %}
    <h2>Leave a Comment</h2>
        <div class="mb-3">
          <form method="POST" action="#">
           {% csrf_token %} 
            <label for="commentBox" class="form-label">Your Comment</label>
            <div class="v-comment-box" id="commentBox" rows="5">
              
            {{comment_f.comment_text}}
            </div>
            <button class="btn btn-primary">Publish</button>
          </form>
        </div>
    </form>
</div>
{%else%}
<div class="v-non-account-container">
<p>You must be logged in to be able to comment <a href="{%url 'login' %}">Login</a></p>
</div>

{% endif %}
  </div>
  <div class="v-comments-container">

    <h4>Comments {{comments|length}}</h4>
      {% if comments %}
        {% for c in comments %}
        <div class="v-comment-container">
        <div class="card mb-4">
          <div class="card-body">
            <p>{{c.comment_text}}</p>
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img
                  src="{{c.comment_picture.user_picture.url}}"
                  alt="avatar"
                  width="25"
                  height="25"
                  />
                <p class="small mb-0 ms-2">{{c.comment_author}}</p>
                <p class="small mb-0 ms-2">{{c.comment_date}}</p>
              </div>
            </div>
          </div>
        </div>
        </div>
        {% endfor %}
      {% endif %}
  </div>
</div>
{%endblock 'main'%}
</div>
